<div class="container">
  <h2>Checkout</h2>
  <input class="normal" type="text" placeholder="Address">
  <input class="normal" type="text" placeholder="Zip code">
  <form>
      <h3>Payment method</h3>
      <input type="radio" id="IDeal" name="method" value="IDeal">
      <label for="IDeal">IDeal</label><br>
      <input type="radio" id="Paypal" name="method" value="Paypal">
      <label for="Paypal">Paypal</label><br>
      <input type="radio" id="Klarna" name="method" value="Klarna">
      <label for="Klarna">Klarna</label><br>
      <input type="radio" id="Cash" name="method" value="Cash">
      <label for="Cash">Cash</label><br>
  </form>
  <br><br>
  <button type="button" (click)="checkout()">Finish order</button>
</div>
