.container {
  display: grid;
  width: 500px;
  height: 100px;
  align-items: center;
  justify-items: center;
  border-bottom: 2px solid #7092FF;

  grid-template-columns: 20% 60% 20%;

  .name {
    margin: 0;
    grid-column: 2/2;
    grid-row: 1/1;
    justify-self: self-start;
  }

  .price {
    grid-column: 3/3;
  }
}
