.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 300px;
    height: 300px;
  }

  p {
    width: 50%;
    text-align: center;
  }

  button {
    width: 15%;
    padding: 15px;
    background-color: black;
    color: white;
    border-radius: 50px;
    outline: none;
    font-weight: bold;
    font-size: 1em;
    border: none;

    //Hover
    transition: 0.1s;
    &:hover {
      background-color: #7092FF;
    }
    &:active {
      background-color: black;
    }
  }
}
